<!-- <app-header title="Đăng nhập"></app-header> -->

<ion-content [fullscreen]="true">
  <ion-label class="welcome">WELCOME</ion-label>
  <div class="d-flex-center">
    <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="form.controls.email"
        type="email"
        label="Email"
        class="auth-form"
      >
      </app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">Nhập Email</div>
        <div *ngIf="form.controls.email.errors?.['email']">
          Email không đúng định dạng
        </div>
      </div>

      <app-custom-input
        icon="lock-closed-outline"
        [control]="form.controls.password"
        type="password"
        label="Mật khẩu"
      >
      </app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          Nhập mật khẩu
        </div>
      </div>

      <p routerLink="forgot-password" class="ion-text-end">Quên mật khẩu?</p>

      <ion-button
      expand="block"
      class="submit"
      type="submit"
      mode="ios"
      [disabled]="form.invalid"
    >
      Đăng nhập
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div
              style="width: 111px; height: 0px; border: 1px #424530 solid"></div>
            </ion-col>
            <ion-col>
              OR
            </ion-col>
            <ion-col>
        <div style="width: 111px; height: 0px; border: 1px #424530 solid "></div>
            </ion-col>
        </ion-row>
        
      </ion-grid>

      
      <ion-button
        class="ion-margin-top"
        routerLink="sign-up"
        expand="block"
        mode="ios"
        fill="outline"
      >
        Đăng ký
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
      
      <ion-button
      class="ion-margin-top"
      expand="block"
      mode="ios"
      fill="outline"
    >
       Facebook
      <ion-img slot="end" src="../../../assets/icon/Fb.png"></ion-img>
    </ion-button>
    <ion-button
    class="ion-margin-top"
    expand="block"
    mode="ios"
    fill="outline"
  >
    Google
    <ion-img slot="end" src="../../../assets/icon/gg.png"></ion-img>
  </ion-button>
    </form>
  </div>
</ion-content>
