<ion-tabs>
  <ion-tab-bar slot="bottom,top" class="tabbuttonclass">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Trang cá nhân</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact-us">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Liên hệ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about-us">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>RoomMinder</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>