<app-header title="Thông tin về RoomMinder"></app-header>

<ion-content [fullscreen]="true">
<ion-item lines="none">
  <strong>RoomMinder là gì?</strong>
</ion-item>
<ion-item lines="none">
  <p><strong>RoomMinder</strong> ra đời với mục đích đem lại sự yên tâm khi tìm kiếm cho mình cũng như người thân một nơi ở an toàn, tiện nghi nhất.</p>
</ion-item>
<ion-item>
  <p><strong>RoomMinder</strong> là ứng dụng khai thác các khu nhà trọ dành cho sinh viên. Chúng tôi luôn nỗ lực phát triển không ngừng nhằm cung cấp cho khách hàng hệ thống phòng trọ cho thuê đa dạng, giá cả hợp lí; không gian sống lành mạnh, an ninh; dịch vụ tận tình, chuyên nghiệp. Để khách thuê trọ an tâm hơn trong quá trình tìm kiếm trọ</p>
</ion-item>

<ion-item lines="none">
  <strong>Thông tin phòng phòng trống luôn được cập nhật</strong>
</ion-item>
<ion-item>
  <p>
    Bạn có thể dễ dàng tìm phòng trên <strong>RoomMinder</strong> dựa trên 3 tiêu chí bao gồm:
    <br>
    - Theo phường, khu vực;
    <br>
    - Trạng thái (Phòng trống, phòng sắp trống);
    <br>
    - Mức giá (dưới 3 triệu, dưới 6 triệu, dưới 9 triệu)
    <br>
    Bên cạnh đó, thông tin chi tiết về phòng (địa chỉ, giá, tiện ích khu trọ, liên hệ …) luôn được cập nhật, hiển thị công khai.</p>
</ion-item>


<ion-item lines="none">
  <strong>Hợp đồng cho thuê phòng trọ rõ ràng, minh bạch</strong>
</ion-item>
<ion-item lines="none">
  <p>Khác với các khu trọ truyền thống, tất cả các phòng thuê trong hệ thống <strong>RoomMinder</strong> đều có ‘Hợp đồng thuê trọ’ đầy đủ thông tin chi tiết để đảm bảo quyền lợi cho khách hàng. Tất cả các điều khoản có liên quan tới phòng trọ, khu trọ đều được quản lí khu trọ xác nhận bằng văn bản pháp lí để khách hàng an tâm tuyệt đối trong quá trình tìm kiếm, thuê phòng trọ. Sau khi hoàn tất quá trình này, tin nhắn xác nhận sẽ được gửi về số điện thoại khách hàng.</p>
</ion-item>
<ion-item lines="none">
  <ion-img src="./assets/icon/hopdong1.png"></ion-img>
</ion-item>
<ion-item>
  <ion-label class="ion-text-center">Mẫu hợp đồng thuê phòng trọ</ion-label>
</ion-item>



<ion-item lines="none">
  <strong>Các khu trọ, phòng trọ luôn được thắt chặt, đảm bảo an ninh</strong>
</ion-item>
<ion-item lines="none">
  <p>Nhằm tăng cường đảm bảo an ninh, <strong>RoomMinder</strong> luôn chủ động trang bị hệ thống camera giám sát 24/7. Ngoài ra, tất cả các phòng trọ tại hệ thống chúng tôi đều khép kín và có chìa khóa đảm bảo an toàn cho người thuê. Quy trình đăng kí tạm trú được khai báo đầy đủ để chính quyền địa phương quản lí, đảm bảo an ninh trật tự; đồng thời giúp khách hàng thoải mái, an tâm hơn trong quá trình lưu trú.</p>
</ion-item>
</ion-content>
