<app-header [isModal]="true" [title]="item ? 'Sửa' : 'Tạo'"></app-header>

<ion-content>
  <form
    [formGroup]="form"
    class="ion-padding ion-text-center"
    (ngSubmit)="submit()"
    (keypress.enter)="submit()">
    
    <!-- them img -->
    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>
    <ion-icon
      class="image-icon"
      *ngIf="!form.value.image"
      name="image-outline"
    ></ion-icon>
    <br />
    <ion-label>
      <br />
      <ion-button (click)="takeImg()" shape="round"> Chọn ảnh </ion-button>
    </ion-label>
    <div
    class="validators"
    *ngIf="form.controls.image.errors && form.controls.image.touched"
  >
    <div *ngIf="form.controls.image.errors?.['required']">Vui lòng thêm ảnh</div>
  </div>

<!-- them tieu de -->
    <app-custom-input
      [control]="form.controls.title"
      type="text"
      label="Tiêu đề"
      (ionInput)="setNumberInputs()">
    </app-custom-input>
    <div
      class="validators"
      *ngIf="form.controls.title.errors && form.controls.title.touched"
    >
      <div *ngIf="form.controls.title.errors?.['required']">Nhập tiêu đề</div>
    </div>

    <!-- them noi dung -->
    <app-custom-input
      [control]="form.controls.content"
      type="text"
      label="Nội dung bài viết"
    >
    </app-custom-input>
    <div
      class="validators"
      *ngIf="form.controls.content.errors && form.controls.content.touched"
    >
      <div *ngIf="form.controls.content.errors?.['required']">Nhập nội dung</div>
    </div>

        <!-- them dia chi -->
    <app-custom-input
      [control]="form.controls.address"
      type="text"
      label="Địa chỉ"
    >
    </app-custom-input>
    <div
      class="validators"
      *ngIf="form.controls.address.errors && form.controls.address.touched"
    >
      <div *ngIf="form.controls.address.errors?.['required']">Nhập địa chỉ</div>
    </div>

    <!-- them gia -->
    <app-custom-input
      [control]="form.controls.price"
      type="number"
      label="Tiền phòng 1 tháng"
      (ionInput)="setNumberInputs()"
    >
    </app-custom-input>
    <div
      class="validators"
      *ngIf="form.controls.price.errors && form.controls.price.touched"
    >
      <div *ngIf="form.controls.price.errors?.['required']">
        Nhập số tiền phòng 1 tháng
      </div>
    </div>

    <!-- them lien he -->
    <app-custom-input
    [control]="form.controls.contact"
    type="tel"
    label="Số điện thoại"
    (ionInput)="setNumberInputs()"
  >
  </app-custom-input>
  <div
    class="validators"
    *ngIf="form.controls.contact.errors && form.controls.contact.touched">
    <div *ngIf="form.controls.contact.errors?.['required']">
      Nhập số điện thoại
    </div>
  </div>

    <!-- <app-custom-input
      [control]="form.controls.time"
      type="date"
      format="yyyy-MM-dd"
      label="Ngày hết hạn hợp đồng"
    >
    </app-custom-input>
    <div
      class="validators"
      *ngIf="form.controls.time.errors && form.controls.time.touched"
    >
      <div *ngIf="form.controls.time.errors?.['required']">
        Nhập ngày hết hạn hợp đồng
      </div>
    </div> -->
    
    <!-- <ion-datetime-button [formControl]="form.controls.time" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime [showDefaultButtons]="true" doneText="Chọn" cancelText="Hủy" id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal> -->

    <ion-button
      class="ion-margin"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ item ? "Sửa" : "Tạo" }}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
