<app-header title="Thông tin cá nhân"></app-header>


<ion-content>
  <ion-item lines="none">
    <h1>Thông tin mô tả:</h1>
  </ion-item>
  <ion-item >
    <ion-label class="ion-text-wrap">
     <p>Ứng dụng xây dựng giải quyết vấn đề phòng trọ cho sinh viên tại Đà Lạt</p>
    </ion-label>
 
  </ion-item>

  <ion-item lines="none">
    <h1>Thông tin liên hệ:</h1>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Liên hệ:</ion-label>
      <ion-text>{{user()?.name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Điện thoại:</ion-label>
      <ion-text>123456789</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Zalo:</ion-label>
      <ion-text>123456789</ion-text>
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <h1>Bản đồ:</h1>
  </ion-item>
  <ion-item>
    <p>Địa chỉ: 1 đường Phù Đổng Thiên Vương P.8, Thành Phố Đà Lạt</p>
  </ion-item>
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>
