ion-content {
    .category {
        margin-top: 111px;
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .btn-category {
        margin-top: 5px;
        display: inline-flex;
        align-items: flex-end;
        gap: 15px;
        .button {
            width: 110px;
            height: 26px;
            display: flex;
            padding: 7px 9px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            border: 1px solid var(--fouth-4, #424530);
            color: #000;

            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .postAndBtn{
        
        .post {
            color: var(--fouth-4, #424530);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    strong{
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
ion-card {
    border-radius: 15px;
    padding: 10px;
    min-height: 200px;
    min-height: 250px;
    .img{
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
}


swiper-container{
    width: 100%;
    height: 50%;
}
swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}